<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.buildDockerImageLaunchConfigurationType">
    <stringAttribute key="dockerConnection" value="Docker Machine"/>
    <stringAttribute key="dockerfileName" value="Dockerfile"/>
    <stringAttribute key="repoName" value="hello-world"/>
    <stringAttribute key="sourcePathLocation" value="/JavaDocker"/>
    <booleanAttribute key="sourcePathWorkspaceRelativeLocation" value="true"/>
</launchConfiguration>
